Package: com.codeymoore.satellatvos
Name: SatellatvOS
Depends: mobilesubstrate
Version: 1.0.1
Architecture: appletvos-arm64
Description: Free iAP for tvOS
Maintainer: Codey Moore
Author: Codey Moore
Section: Tweaks
Depiction: https://codeymoore.github.io/tvrepo/depictions/satellatvos/SatellatvOS.json
Icon: https://codeymoore.github.io/tvrepo/depictions/satellatvos/images/icon.png
